html {
  font-size: 52%; }
  @media only screen and (min-width: 30em) {
    html {
      font-size: 62.5%; } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0; }

body {
  box-sizing: inherit;
  background-color: #f2ebe3;
  font-weight: 500; }

body {
  font-family: "Montserrat", san-serif;
  line-height: 1; }

.mb-lg {
  margin-bottom: 8rem; }

.mb-md {
  margin-bottom: 6rem; }

.mb-sm {
  margin-bottom: 4rem; }

.mb-vsm {
  margin-bottom: 1.5rem; }

.add-to-cart {
  background-color: #3c8067;
  border: none;
  border-radius: 0.6rem;
  color: white;
  padding: 1.5rem 4rem;
  font-size: 1.2rem;
  font-family: "Montserrat", san-serif;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 0.3s; }
  .add-to-cart:hover {
    background-color: #1c232b; }

.card {
  margin: 2rem;
  display: grid;
  grid-template-rows: 30rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden; }
  @media only screen and (min-width: 30em) {
    .card {
      grid-template-columns: 1fr 30rem 30rem 1fr;
      grid-template-rows: 45rem;
      margin: 20rem auto; } }
  @media only screen and (min-width: 50em) {
    .card {
      grid-template-rows: 42rem; } }
  .card__img-box {
    grid-column: 1 / 3;
    grid-row: 1 / 2; }
    @media only screen and (min-width: 30em) {
      .card__img-box {
        grid-column: 2 / 3;
        grid-row: 1 / 2; } }
  .card__img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0; }
    @media only screen and (min-width: 30em) {
      .card__img {
        grid-column: 2 / 3;
        border-radius: 1rem 0 0 1rem; } }
  .card__content {
    padding: 2rem;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(5, min-content);
    gap: 2rem;
    border-radius: 0 0 1rem 1rem; }
    @media only screen and (min-width: 30em) {
      .card__content {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        border-radius: 0 1rem 1rem 0; } }
  .card__heading-3 {
    padding-top: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #6c7289;
    text-transform: uppercase;
    letter-spacing: 0.5rem; }
  .card__heading {
    width: 80%;
    font-size: 3rem;
    font-family: "Fraunces", san-serif; }
  .card__paragraph {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    color: #6c7289;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 1px; }
  .card__price {
    display: flex;
    gap: 2rem;
    align-items: center; }
    .card__price--discount {
      font-size: 2.5rem;
      font-family: "Fraunces", san-serif;
      color: #3c8067; }
    .card__price--old {
      color: #6c7289;
      text-decoration: line-through; }
