$color-primary-dark: hsl(158, 36%, 37%);
$color-primary: hsl(30, 38%, 92%);

$color-secondary-dark: hsl(212, 21%, 14%);
$color-secondary-light: hsl(228, 12%, 48%);
$color-white: hsl(0, 0%, 100%);

$font-primary: "Montserrat", san-serif;
$font-secondary: "Fraunces", san-serif;
