html {
  font-size: 52%;

  @media only screen and (min-width: 30em) {
    font-size: 62.5%;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: inherit;
  background-color: $color-primary;
  font-weight: 500;
}
